#parent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

#parent-button{
  display: flex;
  justify-content: center;
 padding: 20px;
 justify-content: space-around;
}

button{
  height: 32px;
  width: 100px;
}
